__pycache__/
*.pyc
.venv/
venv/
env/

datasets/
data/
*.mp4
*.avi
*.mov
*.mkv
videos.zip

*.pth
*.pt
*.ckpt
*.safetensors
*.weights

part3_result/
visual/
frames/
raw_outputs/
raw_experiments/

*.log
!logs_selected/*.log
